@import "icons";

$grayBg: #ecf0f1;

html,body{
  height:100%;
}
body{
  font-family: "microsoft yahei";
}
.fr{
  float:right;
}
.fl{
  float:left;
}
.green{
  color: #02BF87;
}
.wrapper{
  background: #34495e;
  height:100%;
}
.ms-header{
    background: #fff;
  .ms-header-t{
    height:90px;
    border-bottom: 1px solid #d4d8d8;
  }
  .ms-header-b{
    padding: 20px 20px;
  }
  .link-calendar,.link-message,.link-organization,.link-login{
    display:inline-block;
    padding: 26px 10px;
  }
}
.ms-siderbar{
  width: 230px;
  position:absolute;
  top: 0;
  left: 0;
  background: #34495e;
  min-height:500px;
  height:100%;
  .my-profile{
    background: #02bf87;
    width: 100%;
    height: 90px;
    text-align: center;
    .my-pic{
        color: #fff;
        display: block;
        padding: 9px 0 0 0;
        line-height: 26px;
    }
    .my-pic img{
       display: inline-block;
       width: 50px;
       height: 50px;
       border-radius: 87px;
       overflow:hidden;
    }
  }
}
.ms-main{
  margin-left:230px;
  background: $grayBg;
  min-height: 600px;
  overflow: hidden;
  height:100%;
}
.ms-logo{
  display: block;
  width:350px;
}
.ms-logo-wx{
  display: block;
  position:absolute;
  right:30px;
  top: 32px;
  width:100px;
}
.ms-view{
  padding:20px;
}
.login-box{
  padding: 20px 40px;
  .input-icon i{
    width: 36px;
    height: 36px;
    margin: 5px 2px 4px 10px;
  }
  .input-icon input,select {
    padding-left: 49px !important;
  }
  .form-control{
    height: 49px;
  }
}
