<!DOCTYPE html>
<html lang="zh-cn" ng-app="app">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <script src="/Scripts/jquery-2.1.4.js"></script>
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/angular-route.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-controller="contrl">
    <h3>ngView</h3>
    <div ng-view></div>
    <button ng-click="testMvc()">test mvc</button>
    <!--<br />
    <h3>ngInclude</h3>
    <div ng-include="url"></div>
    <div>
        <button ng-click="filterAge()" class="btn btn-primary">筛选时间</button>
    </div>

    <br />
    <h3>ngSrc iframe</h3>
    <button ng-src="notFilterAge()" class="btn btn-success">不筛选</button>
    <div style="border:1px solid red;">
        <iframe ng-src="{{newUrl}}" style="height:800px;width:1000px;"></iframe>
    </div>-->
</body>
</html>
