
<div class="modal-header">
	<h4 class="modal-title"><span class="glyphicon glyphicon-star"></span>添加用户</h4>
</div>
<div class="modal-body">
	<ng-form class="clearfix" style="width: 700px;margin: 20px auto;">
		<div class="form-group">
			<label class="col-md-2 control-label">应用代码</label>
			<div class="col-md-9">
				<select class="form-control">
					<option>控制面板</option>
					<option>option2</option>
					<option>option3</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="name" class="col-md-2 control-label">用户登陆名</label>
			<div class="col-md-9">
				<input type="input" class="form-control" placeholder="名称" id="name"/>
			</div>
		</div>
		<div class="form-group">
			<label for="name" class="col-md-2 control-label">真实姓名</label>
			<div class="col-md-9">
				<input type="input" class="form-control" placeholder="名称" id="name"/>
			</div>
		</div>
		<div class="form-group">
			<label for="name" class="col-md-2 control-label">邮箱地址</label>
			<div class="col-md-9">
				<input type="input" class="form-control" placeholder="名称" id="name"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">类型</label>
			<div class="col-md-9">
				<select class="form-control">
					<option>控制面板</option>
					<option>option2</option>
					<option>option3</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">是否有效</label>
			<div class="col-md-9">
				<select class="form-control">
					<option>控制面板</option>
					<option>option2</option>
					<option>option3</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="name" class="col-md-2 control-label">备注</label>
			<div class="col-md-9">
				<input type="input" class="form-control" placeholder="名称" id="name"/>
			</div>
		</div>
	</ng-form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
	<button type="button" class="btn btn-primary" ng-click="save()">Save</button>
</div>