<div class="login-box">
	<h2 class="green">用户登录</h2>
	<div class="form-group">
		<div class="input-icon">
			<i class="icon-organization"></i>
			<select class="form-control input-lg">
				<option>选择机构</option>
				<option>Option 2</option>
				<option>Option 3</option>
				<option>Option 4</option>
				<option>Option 5</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="input-icon">
			<i class="icon-user"></i>
			<input type="text" class="form-control" placeholder="用户名">
		</div>
	</div>
	<div class="form-group">
		<div class="input-icon">
			<i class="icon-passport"></i>
			<input type="text" class="form-control" placeholder="密码">
		</div>
	</div>
	<div class="clearfix">
		<a href="" class="fr btn btn-primary">登录></a>
		<label class="checkbox-inline">
				<div class="checker" id="uniform-inlineCheckbox21">
					<span class="checked">
						<input type="checkbox" id="inlineCheckbox21" value="option1">
					</span>
				</div>
				开启
		</label>
	</div>
	
</div>