<div>
	<div class="pull-left">
		<button type="button" class="btn btn-primary">添加用户<i class="fa fa-plus"></i></button>
	</div>
	<form class="form-inline pull-right" action="index.html">
		<div class="col-md-5">
			<select class="form-control">
				<option>专题系统</option>
				<option>option2</option>
				<option>option3</option>
			</select>
		</div>
		<div class="col-md-7">
			<input type="input" class="form-control" placeholder="输入用户名" id="name"/>
		</div>
	</form>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>asfa</th>
				<th>asfd</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>afdfafdf</td>
				<td>afdfafdf</td>
			</tr>
			<tr>
				<td>afdfafdf</td>
				<td>afdfafdf</td>
			</tr>
		</tbody>
	</table>
</div>