<div style="width: 600px;">
	<div class="form-group">
		<label class="col-md-3 control-label">Dropdown</label>
		<div class="col-md-9">
			<select class="form-control">
				<option>option1</option>
				<option>option2</option>
				<option>option3</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="name" class="col-md-3 control-label">名称：</label>
		<div class="col-md-9">
			<input type="input" class="form-control" placeholder="名称" id="name"/>
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-md-3 control-label">redio</label>
		<div class="col-md-9">
			<div class="radio-list">
				<label class="radio-inline">
				<div class="radio" id="uniform-optionsRadios25"><span><input type="radio" name="optionsRadios" id="optionsRadios25" value="option1" checked=""></span></div> Option 1 </label>
				<label class="radio-inline">
				<div class="radio" id="uniform-optionsRadios26"><span class="checked"><input type="radio" name="optionsRadios" id="optionsRadios26" value="option2" checked=""></span></div> Option 2 </label>
				<label class="radio-inline">
				<div class="radio disabled" id="uniform-optionsRadios27"><span><input type="radio" name="optionsRadios" id="optionsRadios27" value="option3" disabled=""></span></div> Disabled </label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-3 control-label">课程体系：</label>
		<div class="col-md-9">
			<label class="checkbox-inline">
					<div class="checker" id="uniform-inlineCheckbox21">
						<span class="checked">
							<input type="checkbox" id="inlineCheckbox21" value="option1">
						</span>
					</div>
					开启
			</label>
			<input type="input" class="form-control" id="day"/> 天
		</div>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-success">Submit</button>
	</div>
</div>